{% extends "base.html" %}

{% block content %}
<h2>Admin Dashboard</h2>
<p>Welcome, Admin {{ current_user.username }}!</p>

<div class="row">
    <div class="col-md-6">
        <h3>Users</h3>
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Role</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.role }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-md-6">
        <h3>Lessons</h3>
        <table class="table">
            <thead>
                <tr>
                    <th>Student</th>
                    <th>Instructor</th>
                    <th>Date</th>
                    <th>Time</th>
                </tr>
            </thead>
            <tbody>
                {% for lesson in lessons %}
                <tr>
                    <td>{{ lesson.student.username }}</td>
                    <td>{{ lesson.instructor.username }}</td>
                    <td>{{ lesson.date }}</td>
                    <td>{{ lesson.time }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}